*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #158b78, #094136);
}

h1{
    color: white;
}

p{
    color: white;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
    
}

.logo{
    width: 300px;
    text-align: center;
}

nav{
    display: flex;
    gap: 10px;
}

.buttonHeader{
    background-color: transparent;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.4s;

}

nav{
    display: flex;
    align-items: center;
}

main{
    flex-grow:1;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center
}

.container{
    display: flex;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}

.Sobrenos{
    
    justify-content: center;
    align-content: center;
    padding: 50px 25px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    
}